div{
  width: 70%;
  height: 60px;
  background-color: aqua;
  color: black;
  text-align: center;
  margin-top: 34px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 0 px 4px 2px 3px black;

}
h2{
  background-color: antiquewhite;
  width:150px;
  height: 120px;
  border-radius: 20px;
  margin-left: 220px;
  margin-top: 20px;
}